@page "/"

<div class="pannelUser">
    <textarea class="textArea" @bind="WordInsertByUser" />
    <button class="btnConvert" @onclick="GetWordConvertedClick">Конвертировать</button>
    <textarea class="textArea" @bind="WordInverseDisplayForUser" />
</div>

@code {
    public string WordInsertByUser { get; set; }
    public string WordInverseDisplayForUser { get; set; }

    public void GetWordConvertedClick()
    {
        if (!string.IsNullOrEmpty(WordInsertByUser))
        {
            char[] stringArray = WordInsertByUser.ToCharArray();
            Array.Reverse(stringArray);
            string reversedStr = new string(stringArray);

            WordInverseDisplayForUser = reversedStr;
        }
        else
        {
            WordInverseDisplayForUser = "";
        }
        StateHasChanged();
    }
}

<style>
    .pannelUser {
        display: flex;
    }

    .btnConvert {
        font-family: Verdana;
        color: ghostwhite;
        background-color: green;
        outline:none;
        border: none;
        text-decoration:none;
        cursor: pointer;
        height: 1%;
        margin: auto;
    }

    .textArea {
        font-family: Verdana;
        color: darkviolet;
        margin: 0 2% 0 2%;
        width: 50%;
        height: 20em;
    }
</style>